<%# @posts.each do |post| %>
  <%# post.photos.each do |photo| %>
    <%#= image_tag photo.image.url(:standard), class: 'card-img-top' %>
<!--    <br><br>-->
  <%# end %>
<%# end %>

<% @posts.each do |post| %>
  <div class="card mb-3 post-link">
    <div class="card-body">
      <%= link_to user_path(post.user) do %>
        <%= image_tag avatar_url(post.user), class: 'user-avatar', align: 'middle' %>
        <small><%= post.user.username %></small>
      <% end %>
    </div>

    <% post.photos.each do |photo| %>
      <%= image_tag photo.image.url(:standard), class: 'card-img-top' %>
    <% end %>

    <div class="card-body">
      <p class="card-text"><small class="text-muted">
        <%= link_to post_path(post) do %>
          <%= "Last updated: #{post.updated_at}" %>
        <% end %>
      </small></p>

      <%= link_to post_path(post) do %>
        <p><%= post.description %></p>
      <% end %>

      <% if post.liked?(current_user).present? %>
        <%= link_to icon('bi bi-heart-fill'), like_path(post.liked?(current_user)),
                    data: {turbo_method: :delete}, remote: true %>
      <% else %>
        <%= link_to icon('bi bi-heart'), post_likes_path(post), data: {turbo_method: :post}, remote: true %>
      <% end %>
      <%= post.likes.count %>

      <% if post.in_bookmarks?(current_user).present? %>
        <%= link_to icon('bi bi-bookmark-fill'), bookmark_path(post.in_bookmarks?(current_user)),
                    data: {turbo_method: :delete}, remote: true %>
      <% else %>
        <%= link_to icon('bi bi-bookmark'), post_bookmarks_path(post), data: {turbo_method: :post}, remote: true %>
      <% end %>

      <% if post.belongs_to_user?(current_user) %>
        <%= link_to icon('bi bi-trash3'), post_path(post),
                    data: {turbo_method: :delete, turbo_confirm: 'Удалить пост?'} %>
      <% end %>
    </div>

    <hr>

    <div class="card-body">
      <p class="card-text">
        <% post.comments.each do |comment| %>
          <b><%= comment.user.username + ':' %></b>
          <%= comment.body %>
          <% if comment.user == current_user || (post.user == current_user) %>
            <%= link_to icon('bi bi-x'), comment_path(comment), data: {turbo_method: :delete}, remote: true %>
          <% end %>
          <br>
        <% end %>
      </p>
      <p class="card-text">
        <%= form_for [post, Comment.new], :html => {:class => "w-100"}, remote: true do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :post_id, value: post.id %>
          <%= f.text_field :body, placeholder: "Add a comment ...", autocomplete: :off %>
          <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
