<div class="profile row">
  <%# Avatar %>
  <div class="col-md-4">
    <div class="avatar">
      <%= image_tag avatar_url(@user) %>
    </div>
  </div>

  <%# User info %>
  <div class="user-info col-md-8">
    <div class="user-section">
      <h2 class="username"><%= @user.username %></h2>
      <% if @user == current_user %>
        <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
          <button class="btn btn-outline-dark">Редактировать профиль</button>
        </a>
      <% end %>
    </div>
    <ul class="posts">
      <li><b><%= @user.posts.count %></b> постов</li>
      <li><b>0</b> подписчиков</li>
      <li><b>0</b> подписок</li>
    </ul>
    <h2 class="name"><%= @user.real_name %></h2>
    <div class="bio"><%= @user.bio %></div>
    <%= link_to @user.website, @user.website, class: 'website' unless @user.website.nil? %>
  </div>
</div>

<%# User tabs %>
<div class="user-tabs">
  <%= link_to icon('bi bi-grid-3x3-gap-fill', 'ФОТОКАРТОЧКИ'), user_path(current_user), class: 'tab active' %>

  <% if @user == current_user %>
    <%= link_to icon('bi bi-heart-fill', 'ПОНРАВИЛОСЬ'), user_path(current_user), class: 'tab' %>
    <%= link_to icon('bi bi-bookmark-fill', 'ЗАКЛАДКИ'), user_path(current_user), class: 'tab' %>
  <% end %>
</div>
