<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <div>
        <%= link_to 'Instagram', root_path, class: 'navbar-brand' %>
      </div>
      <div class="user-section">
        <%= link_to icon('fa fa-compass'), root_path %>
        <%= link_to icon('fa fa-heart'), root_path %>
        <%= link_to icon('fa fa-user'), user_path(current_user) %>
        <%= link_to icon('fa fa-sign-out'), destroy_user_session_path,
                    data: {turbo_method: :delete, turbo_confirm: "Выйти из аккаунта #{current_user.username}?"} %>
      </div>
    </div>
  </nav>
</header>
